.searchbar{
  padding-bottom: 20px;
  
}

.posts{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.geekhaven{
  display: flex;
  justify-content: space-between; 
  align-items: center;

  .forPagination{
    flex: 1;
    text-align: center;
  }
  .searchbar{
    flex: 2;
  }
}
